.Main{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle{
    text-align: center;
    text-transform: uppercase;
    color: darkgreen;
    font-size:3.5rem ;

}

/*who we are*/
.Main img{
    width: 350px;
}

.container{
    margin-block: 3rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
    
    
}

.text-container {
  display: flex;
  align-items: center;
  width: 500px;
  font-size: 1.5rem;
  font-family: sans-serif;
}



