.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.logo img {
    margin-top: 0.5rem;
    width: 250px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
        margin-top: 20px;
    }
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.25rem;
}

.nav-links li a:hover {
    color: red;
}
